

body {
  background-color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

svg {
  align-items: center;
  fill: blue;
  height:  600px;
  animation: spinType 2s ease-out infinite;
}


@keyframes spinType {
  0% {
    transform: rotate(0.5turn);
  }
  60% {
    transform: rotate(0.7turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
