
body {
  background-color:  lightpink;
  font-family:  monospace;
  padding: 50px;
}
.title {text-align: center;}

img {
  max-width: 100%;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}


/* If the browser window is shorter than 650px, the background will turn green */


@media (max-height: 650px) {
  body {
    background-color: darkgreen;
  }

/* The body's font-size is smaller by default */
body {
  font-size: 16px;
}

/* Tablet breakpoint */
@media (min-width: 768px) {
  body {
    font-size: 40px;
  }
}

/* Desktop breakpoint */
@media (min-width: 992px) {
  body {
    font-size: 50px;
  }
}

/* Wide screen breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 60px;
  }
}